html,
body {
  box-sizing: border-box;
  font-family: monospace;
  background: black;
  color: white;
}

h1,
h2 {
  font-weight: 100
}

a {
  color: white;
}

a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

.taunt {
  text-align: center;
  margin: 20px 0px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid;
}

.flexbox-container>div {
  width: 50%;
  padding: 10px;
}

.flexbox-container>div:first-child {
  margin-right: 20px;
}