html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: black;
  color: #fff;
}

.taunt {
  text-align: center;
  margin: 20px 0px;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 15px;
}

.notice {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 30px;
}

.taunt {
  text-align: center;
  margin: 20px 0px;
}

.flexbox-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid;
}

.flex-grid-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
}

.first_response,
.second_response,
.third_response,
.fourth_response {
  margin: auto;
}

input {
  background: black;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 45px;
  font-size: 20px;
  margin-right: -10px;
}

input:focus {
  outline: none;
}

button {
  background: #222222;
  border: 0;
  color: #fff;
  min-width: 100px;
  cursor: pointer;
  font-size: 11.1px;
  letter-spacing: 2px;
  line-height: 32px;
  float: right;
  margin-left: 10px;
  height: 46px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

button:hover {
  background: red;
  color: #fff;
}

button:focus {
  outline: none;
}