html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: black;
  color: #fff;
}

a {
  color: #fff;
}

.taunt {
  font-family: monospace;
}

.notice {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 30px;
}

a:hover {
  background: #fff;
  color: black;
  text-decoration: none;
}

.taunt {
  text-align: center;
  margin: 20px 0px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid;
}

.flexbox-container>div {
  width: 50%;
  padding: 40px;
}

.flexbox-container>div:first-child {
  margin-right: 20px;
}

.search-container {
  margin: 50px 0px;
}

input {
  background: black;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 30px;
  font-size: 20px;
}

input:focus {
  outline: none;
}

button {
  background: #222222;
  border: 0;
  color: #fff;
  width: 100%
  cursor: pointer;
  font-size: 11.1px;
  letter-spacing: 2px;
  line-height: 32px;
  float: right;
  margin-left: 10px;
  height: 48px;
  text-transform: uppercase;
}

button:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  color: #fff;
}

button:focus {
  outline: none;
}

